.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--orange-700);

    width: 100vw;
    height: 100vh;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 50%;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 100%;
        max-width: 425px;
        height: 80%;

        border-radius: 2rem 0 0 0;

        padding: 1.5rem;

        background-color: #fff;

        span {
            margin: 1rem 0 0.5rem 0;
            color: var(--orange-700);
        }

        p {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            margin: 1rem 0;

            color: var(--gray-500);

            strong {
                margin-left: 0.5rem;
                font-size: 0.875rem;

                text-decoration: underline;

                cursor: pointer;
            }
        }

        button {
            margin-top: 0.5rem;

            background: none;

            border: 1px solid var(--orange-700);

            color: var(--orange-700);

            cursor: pointer;
        }

        .enterButton {
            margin-top: 1rem;

            background-color: var(--orange-700);
            
            color: #fff;
        }
    }
}

@media (min-width: 425px) {
    .container {
    
        .formContainer {               
            border-radius: 2rem 2rem 0 0;
        }
    }
}